body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}
main {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.profile {
    text-align: center;
    margin: 20px 0;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.tagline {
    font-style: italic;
    color: #666;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

section.projects {
    width: 90% !important;
    margin: 40px auto !important;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;

}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 0;
}

.project h3 {
    margin: 0;
}

a.unstyled-link {
    text-decoration: none;
    color: inherit;
}

hr.footer-divider, hr.projects-divider {
    border: 0;
    height: 1px;
    background: #555;
    width: 20%;
}

.projects-github {
    text-align: center;
    margin: 40px 0;
}
.projects-github h2 {
    margin-top: 0px;
}
.projects-github p {
    width: 60%;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.5;
}

button.github-profile-button {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    .profile img {
        width: 100px;
        height: 100px;
    }
    section.projects {
        grid-template-columns: 1fr;
    }

}